@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --font-primary: 'Montserrat', sans-serif;
  --primary: #3BACF9;
  --black: #0A1F44;
  --gray-bold: #758196;
  --white: #FFFFFF;
  --light-strok: #A6AEBC;
  --gray-light: #f7f0f0;
  /* --gray-light: #e8e8e8; */
  /* --navy-blue : #000080; */
  --navy-blue : #0053ba;
  --errors : #ff4d4f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* body {margin: 0; height: 100%; overflow: hidden} */

/* 
  ### -------------------- ###
*/

#blob-hero-section , #blob-informative-content {
  background: radial-gradient(34.52% 100% at 50% 50%, #00ccac 0, #00ccac57);
  border-radius: 1651.438px;
  filter: blur(32.6193809509px);
  flex-shrink: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
}
#blob-hero-section{
  right: -30%;
}
#blob-informative-content{
  right: -45%;
}

/* 
  ### start styling of navigation bar ###
*/

#login::before,
#sign-up::before,
#explore::before {
  content: '';
  position: absolute;
  bottom: -1.6rem;
  left: 1px;
  height: 4px;
  width: 100%;
  z-index: 112;
  background-color: var(--primary);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

#login:hover::before,
#sign-up:hover::before,
#explore:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

#SheetDescriptio {
  margin-top: 1.6rem !important;
}

@media (min-width: 768px) and (max-width: 1024) {
  #search-input-lg {
    height: auto !important;
  }
}

/* 
  ### start styling of brands showcase section ###
*/

.brands > div , .specific-brands-icons{
  box-sizing: border-box;
  box-shadow: 0px 10px 60px 0px rgba(59, 172, 249, 0.2);
}


/* 
  ### start styling of explore section ###
*/

#explore-section{
  background: linear-gradient(0deg,#0003,#0003),linear-gradient(0deg,#0003,#0003),linear-gradient(180deg,rgba(0,0,0,.2),transparent),linear-gradient(0deg,#3bacf942,#3bacf942),url(../public/assest/blogs-images/explore-section-img.jpeg),#d3d3d3 0 -618.098px/100% 334.447% no-repeat;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 24rem;
}