@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary : #3BACF9;
  --black : #0A1F44;
  --gray-bold : #758196;
  --white : #FFFFFF;
  --light-strok : #A6AEBC;
  --gray-light : #e8e8e8;
  /* --gray-light : #F1F2F4; */
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* 
  ### style for navigation bar ###
*/

#login::before, #sign-up::before, #explore::before {
  content: '';
  position: absolute;
  bottom: -1.6rem;
  left: 1px;
  height: 4px;
  width: 100%;
  z-index: 112;
  background-color: var(--primary);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

#login:hover::before, #sign-up:hover::before, #explore:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}